<form method="POST">
    <label>Geometry</label> <br />
    <input type="radio" name="geometry" value="rectangle">Rectangle
    <input type="radio" name="geometry" value="elliptical">Elliptical
    <input type="radio" name="geometry" value="stadium">Bunimovich Stadium
    <br />
    <label>Dimensions</label> <br />
    Width<input type="number" name="width">
    Height <input type="number" name="height">
    <br />
    <label>Starting Position</label> <br />
    x<input type="number" name="start_x">
    y<input type="number" name="start_y">
    <br />
    Angle<input type="number" name="angle">
    <br />
    <input type="submit">
</form>